{% extends 'base.html' %}

{% block title %}
Contact us
{% endblock title %}
{% block body %}
<!--contact start here-->
{% if messages %}
 {% for message in messages %}
<div class="alert alert-{{ message.tags }} my-0 py-0" role="alert">
 {{ message }}
</div>
 {% endfor %}
{% endif %}

<div class="contact">
	<div class="container">
		<div class="contact-main">	
		
			<div class="contact-top">
				<h2>Contact</h2>
				<p>Send your questions and feedback.</p>
			</div>		 			 
			<div class="contact-block1">
			 	<div class="col-md-6 contact-address">
			 	<h3>Contact Info</h3>
			 	<p></p>
			 	<ul>
			    	<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span><p>Maninager Khokhra circle</p></li>
			    	<li><span class="glyphicon glyphicon-phone" aria-hidden="true"> </span><p>+91 123 456 789</p></li>			    	
			    	<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span><p><a href="mailto:info@mentor.com">info@mentor.com</a></p></li>
				 </ul>
			 	</div>
			 	<div class="col-md-6 contact-block-left">
				 	<form action="/contact" method="post">
					 {% csrf_token %}
				 		<input type="text" placeholder="Name" required="" name="Name" required="">
	                    <input type="text" class="email" placeholder="Email" name="Email" required=""
						pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
						title="Email id must be valid">
	                    <input type="text" class="subject" placeholder="Subject" name="Subject" required="">               
	                    <textarea placeholder="Message" name="message" required=""></textarea>
	                    <input type="submit" value="Send">
				 	</form>
			 	</div>
			 	<div class="clearfix"> </div>
			 </div>			 			 
			 <div class="contact-map">
					{% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212126.07899261903!2d150.68928304602147!3d-33.82598834810063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sin!4v1463468876401"  allowfullscreen></iframe> {% endcomment %}
			 	</div>
		</div>
	</div>
</div>
<!--contact end here-->
{% endblock body %}

