<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Learning a Education Category Flat Bootstrap Responsive  Website Template | Gallery :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Learning  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
<!--google fonts-->
<script src="js/jquery-1.11.0.min.js"></script>
</head>
<body>
<!--header strat here-->
<div class="banner1 agileits">
	<div class="header">
		<div class="container">
			<div class="header-main">
				<div class="logo">
			        <h1><span class="books"></span> <a href="index.html">Learning</a></h1>
			    </div>
				 <div class="top-nav">
				 	 <span class="menu"> <img src="images/icon.png" alt=""></span>	
				     <nav class="cl-effect-21" id="cl-effect-21">   		       											
							<ul class="res">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="about.html">About</a></li>						
								<li><a href="shortcodes.html">Short Codes</a></li>
								<li><a href="gallery.html">Gallery</a></li>	
								<li><a href="contact.html">Contact</a></li>						
							</ul>
						</nav>
						<!-- script-for-menu -->
										 <script>
										   $( "span.menu" ).click(function() {
											 $( "ul.res" ).slideToggle( 300, function() {
											 // Animation complete.
											  });
											 });
										</script>
						<!-- /script-for-menu -->
		
				 </div>
				<div class="clearfix"> </div>
			</div>			
	    </div>
   </div>
</div>
<!--header end here-->
<!--banner end here-->
<!--gallery start here-->
<div class="gallery">
	<div class="container">
		<div class="gallery-main">
			<div class="gallery-top">
				<h2>Gallery</h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
			</div>
			<div class="gallery-bottom">
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo">      
							<div class="ih-item square effect4 bottom_to_top"><a href="images/g1.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g1.jpg" alt="img"></div>
		                      <div class="mask1"></div>
                     		 <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo"> 
	                    	 <div class="ih-item square effect4 bottom_to_top"><a href="images/g2.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g2.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                      <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo"> 
	                    	<div class="ih-item square effect4 bottom_to_top"><a href="images/g3.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g3.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                       <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo">  
	                    	<div class="ih-item square effect4 bottom_to_top"><a href="images/g4.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g4.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                      <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo"> 
	                    	<div class="ih-item square effect4 bottom_to_top"><a href="images/g5.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g5.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                      <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo">  
	                    	<div class="ih-item square effect4 bottom_to_top"><a href="images/g6.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g6.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                      <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo"> 
	                    	<div class="ih-item square effect4 bottom_to_top"><a href="images/g7.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g7.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                      <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div><div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo">  
	                    	<div class="ih-item square effect4 bottom_to_top"><a href="images/g8.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g8.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                      <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="gallery-grid-effects">
	                    <div id="nivo-lightbox-demo">  
	                    	<div class="ih-item square effect4 bottom_to_top"><a href="images/g9.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
		                      <div class="img"><img src="images/g9.jpg" alt="img"></div>
		                        <div class="mask1"></div>
		                      <div class="mask2"></div>
		                      <div class="info">
		                        <h3>Learning</h3>
		                        <p>Description goes here</p>
		                      </div></a>
		                    </div>
	                   </div>
                   </div>
				</div>
				<div class="clearfix"> </div>
			</div>			
		</div>
	</div>
</div>
<!--gallery end here-->
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
			<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>


<!--gallery end here-->
<!--footer start here-->
<div class="footer w3ls">
	<div class="container">
		<div class="footer-main">
			<div class="footer-top">
				<div class="col-md-4 ftr-grid">
					<h3>Learning</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
				</div>
				<div class="col-md-4 ftr-grid">
					<h3>Our Address</h3>
					<div class="ftr-address">
						<div class="local">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						</div>
						<div class="ftr-text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="ftr-address">
						<div class="local">
							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
						</div>
						<div class="ftr-text">
							<p>+1 (512) 154 8176</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 ftr-grid">
					<h3>Stay In Touch</h3>
					<form action="#" method="post">
						<input type="text" placeholder="Enter Email"  name="Enter Email" required="">
						<input type="submit" value="">
					</form>
					<ul class="ftr-social-icons">
						<li><a class="fa" href="#"> </a></li>
						<li><a class="tw" href="#"> </a></li>
						<li><a class="dri" href="#"> </a></li>
						<li><a class="p" href="#"> </a></li>
						
					</ul>
				</div>
			   <div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="col-md-6 ftr-navg">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="shortcodes.html">Short Codes</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-6 copyrights">
					<p>© 2016 Learning. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--footer end here-->			
</body>
</html>