<!DOCTYPE HTML>
<html>
<head>
<title>Home Page | Mentor</title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="static/css/style1.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Agility  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
<!--google fonts-->
<script src="static/js/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
<!--header strat here-->
<div class="banner agileits">
	<div class="header">
		<div class="container">
			<div class="header-main">
				<div class="logo">
			       <h1><span class="books"></span> <a href="index">MENTOR</a></h1>
			    </div>
				 <div class="top-nav">
				 	 <span class="menu"> <img src="static/images/icon.png" alt=""></span>	
				     <nav class="cl-effect-21" id="cl-effect-21">   		       											
							<ul class="res">
								<li><a href="index" class="active">Home</a></li>
								<li><a href="about">About</a></li>						
								<li><a href="contact">Contact</a></li>	
								<li><a href="login">Login</a></li>					
							</ul>
						</nav>
						<!-- script-for-menu -->
										 <script>
										   $( "span.menu" ).click(function() {
											 $( "ul.res" ).slideToggle( 300, function() {
											 // Animation complete.
											  });
											 });
										</script>
						<!-- /script-for-menu -->
		
				 </div>
				<div class="clearfix"> </div>
			</div>
			<div class="banner-main">
				 <section class="slider">
					 <div class="flexslider">
						<ul class="slides">
						  <li>
						  	<div class="banner-main">			  
								   <h3>Share your knowledge with other students</h3>
						            <p>Here, you can share your knowledge with other students so that other students can be guided by your expierences.</p>
								<div class="clearfix"> </div>
							</div>
						  </li>
						  <li>
						  	<div class="banner-main">			  
								   <h3>You can chat with other students</h3>
						           <p>Here, you can chat with other students</p>
								<div class="clearfix"> </div>
							</div>
						  </li>
						  {% comment %} <li>
						  	<div class="banner-main">			  
								   <h3>Nam libero tempore cum soluta</h3>
						           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
								<div class="clearfix"> </div>
							</div>
						  </li>		
						  <li>
						  	<div class="banner-main">			  
								   <h3>Voluptas assumenda  omnis dolor</h3>
						           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
								<div class="clearfix"> </div>
							</div>
						  </li>			   {% endcomment %}
					    </ul>
					 </div>
					 <div class="clearfix"> </div>
            </section>	
		 </div>
	 </div>
   </div>
</div>
<!--header end here-->
<!-- FlexSlider -->
				  <script defer src="static/js/jquery.flexslider.js"></script>
				  <script type="text/javascript">
					$(function(){				 
					});
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
<!-- FlexSlider -->
<!--banner end here-->
<!--educate logos start here-->
 {% comment %} <div class="educate">
	<div class="container">
		<div class="education-main">
			<ul class="ch-grid">
				 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">				
							<div class="ch-info">
								<div class="ch-info-front ch-img-1">
									<span class="glyphicon glyphicon-grain" aria-hidden="true"> </span>
					                <h5>Training</h5>
								</div>
								<div class="ch-info-back">
									<h3>Lorem ipsum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur elit</p>
								</div>	
							</div>
						</div>
					</li>
					</div> 
					 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2">
									<span class="glyphicon glyphicon-education" aria-hidden="true"> </span>									
					                <h5>Education</h5>
								</div>
								<div class="ch-info-back">
									<h3>Lorem ipsum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur elit</p>
								</div>
							</div>
						</div>
					</li>
					</div>
					 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3">
									<span class="glyphicon glyphicon-hourglass" aria-hidden="true"> </span>
					                <h5>Class</h5>
								</div>
								<div class="ch-info-back">
									<h3>Lorem ipsum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur elit</p>
								</div>
							</div>
						</div>
					</li>
					</div>
					 <div class="col-md-3 w3agile">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>
					                <h5>Certificate</h5>
								</div>
								<div class="ch-info-back">
									<h3>Lorem ipsum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur elit</p>
								</div>
							</div>
						</div>
					</li>
					</div>
					<div class="clearfix"> </div>
			 </ul>
		 </div>
	</div>
</div>  {% endcomment %}
<!--educate logos end here-->
<!--we do start here-->
<br>
<br>
 <div class="we-do">
	<div class="container">
		<div class="we-do-main">
			   <h2>What can you do here ? </h2>
			   <h4>Share your expierences with other students</h4>
			   <p>You can share your expierences with oter students and also you can be guided by other students and you can chat with them. you can send and receive materials to them.</p>
			   {% comment %} <a href="single.html">Read More</a> {% endcomment %}
			<div class="clearfix"> </div>
		</div>
	</div>
</div> 
<!--we do end here-->
<!--pop-up-box-->
	  <script type="text/javascript" src="static/js/modernizr.custom.53451.js"></script>  
	<link href="static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
	<script src="static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<!--pop-up-box-->

<!--watch start here-->
{% comment %} <div class="watch-video">
	<div class="container">
		<div class="watch-video-main">
			<div class="video-bottom">
			 <a class="play-icon popup-with-zoom-anim" href="#small-dialog5"> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"> </span> </a>
			 <!--video-->
				<div id="small-dialog5" class="mfp-hide">
					<iframe src="https://player.vimeo.com/video/2990650" width="640" height="361" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen> </iframe>
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
		</div>	

			
			<h3>Watch Our Video</h3>
		</div>
	</div>
</div> {% endcomment %}
<!--watch end here-->
<!--event start here-->
{% comment %} <div class="events">
	<div class="container">
		<div class="events-main">
			<div class="events-top">
				<h3>Events</h3>
			</div>
			<div class="events-grid">
				<div class="col-md-3 event-month wthree">
					<h3>20</h3>
					<h4>June</h4>
				</div>
				<div class="col-md-5 event-text">
					<h4>Lorem ipsum dolor sit amet</h4>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="single.html">Read More</a>
					<p> </p>
				</div>
				<div class="col-md-4 event-img">
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Learning
									<div class="line"> </div>
								</div>
								<div class="date">Lorem ipsum dolor</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="static/images/e1.jpg" class="img-responsive" alt="">
						</div>
                </div>

				</div>
			   <div class="clearfix"> </div>
			</div>
			<div class="events-grid">
				<div class="col-md-3 event-month wthree">
					<h3>24</h3>
					<h4>June</h4>
				</div>
				<div class="col-md-5 event-text">
					<h4>Lorem ipsum dolor sit amet</h4>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="single.html">Read More</a>
					<p> </p>
				</div>
				<div class="col-md-4 event-img">
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Learning
									<div class="line"> </div>
								</div>
								<div class="date">Lorem ipsum dolor</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="static/images/e2.jpg" class="img-responsive" alt="">
						</div>
                </div>
				</div>
			   <div class="clearfix"> </div>
			</div>
			<div class="events-grid">
				<div class="col-md-3 event-month wthree">
					<h3>26</h3>
					<h4>June</h4>
				</div>
				<div class="col-md-5 event-text">
					<h4>Lorem ipsum dolor sit amet</h4>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="single.html">Read More</a>
					<p> </p>
				</div>
				<div class="col-md-4 event-img">
					<div class="item item-type-move">
						<a class="item-hover" href="single.html">						
							<div class="item-info">
								<div class="headline">
									Learning
									<div class="line"> </div>
								</div>
								<div class="date">Lorem ipsum dolor</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="static/images/e3.jpg" class="img-responsive" alt="">
						</div>
                </div>
				</div>
			   <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div> {% endcomment %}
<!--event end here-->
<script src="static/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      $("#slider2").responsiveSlides({
        auto: true,
        pager: true,
        speed: 300,
        namespace: "callbacks",
      });
    });
  </script>

<!--clients star here-->
{% comment %} <div class="clients">
	<div class="container">
		<div class="clients-main">	
			<div class="clients-top">
				<h3>Happy Clients</h3>
			</div>
		 <div class="slider-bann wow bounceInRight" data-wow-delay="0.3s">
	    <ul class="rslides" id="slider2">
	      <li>
	      	<div class="clients-text">	 
	      		<img src="static/images/c1.png" alt="">    	     	
		     	<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>		 		        
		        <h4>John</h4>	     	     
	        </div>
	      </li>
	      <li>
	      	<div class="clients-text">	
	      		<img src="static/images/c2.png" alt="">     	     	
		     	<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>		 		         
		        <h4>Smith</h4>	     	     
	        </div>
	        </li>
	      <li>
	      	<div class="clients-text">	
	      		<img src="static/images/c3.png" alt="">    	     	
		     	<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>		 		           
		        <h4>Daneal</h4>	     	     
		  </div>
	      </li>
	    </ul>
	    </div>
    </div>

	</div>
</div> {% endcomment %}
<!--clients end here-->
<!--footer start here-->
<div class="footer w3ls">
	<div class="container">
		<div class="footer-main">
			<div class="footer-top">
				<div class="col-md-4 ftr-grid">
					<h3>Learning</h3>
					<p>This website allows you to share and get shared expierences by pdfs, notes & all materials can be send by each other.</p>
				</div>
				<div class="col-md-4 ftr-grid">
					<h3>Our Address</h3>
					<div class="ftr-address">
						<div class="local">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						</div>
						<div class="ftr-text">
							<p>Maninager khokhra circle.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="ftr-address">
						<div class="local">
							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
						</div>
						<div class="ftr-text">
							<p> +91 123 456 7890</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 ftr-grid">
					<h3>Stay In Touch</h3>
					<form action="#" method="post">
						<input type="text" placeholder="Enter Email"  name="Enter Email" required="">
						<input type="submit" value="">
					</form>
					<ul class="ftr-social-icons">
						<li><a class="fa" href="#"> </a></li>
						<li><a class="tw" href="#"> </a></li>
						<li><a class="dri" href="#"> </a></li>
						<li><a class="p" href="#"> </a></li>
						
					</ul>
				</div>
			   <div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="col-md-6 ftr-navg">
					<ul>
						<li><a href="index" class="active">Home</a></li>
								<li><a href="about">About</a></li>						
								<li><a href="contact">Contact</a></li>	
								<li><a href="login">Login</a></li>
					</ul>
				</div>
				<div class="col-md-6 copyrights">
					<p>© 2020 MENTOR. All Rights Reserved </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--footer end here-->	

</body>
</html>