<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Learning a Education Category Flat Bootstrap Responsive  Website Template | Single :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Learning  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
<!--google fonts-->
<script src="js/jquery-1.11.0.min.js"></script>
</head>
<body>
<!--header strat here-->
<div class="banner1 agileits">
	<div class="header">
		<div class="container">
			<div class="header-main">
				<div class="logo">
			        <h1><span class="books"></span> <a href="index.html">Learning</a></h1>
			    </div>
				 <div class="top-nav">
				 	 <span class="menu"> <img src="images/icon.png" alt=""></span>	
				     <nav class="cl-effect-21" id="cl-effect-21">   		       											
							<ul class="res">
								<li><a href="index.html" class="active">Home</a></li>
								<li><a href="about.html">About</a></li>						
								<li><a href="shortcodes.html">Short Codes</a></li>
								<li><a href="gallery.html">Gallery</a></li>	
								<li><a href="contact.html">Contact</a></li>						
							</ul>
						</nav>
						<!-- script-for-menu -->
										 <script>
										   $( "span.menu" ).click(function() {
											 $( "ul.res" ).slideToggle( 300, function() {
											 // Animation complete.
											  });
											 });
										</script>
						<!-- /script-for-menu -->
		
				 </div>
				<div class="clearfix"> </div>
			</div>			
	    </div>
   </div>
</div>
<!--header end here-->
<!--single page start here-->
<div class="container">
				<div class="single">
					<div class="blog-to">		
					
						<img class="img-responsive sin-on" src="images/b1.jpg" alt="" />
							<div class="blog-top">
						
							<div class="top-blog">
								<h5 class="fast" >It is a long established fact that a reader will be distracted </h5>
								<p class="sed1">Posted by <a href="#">Admin</a> in <a href="#">General</a> | <a href="#">10 Comments</a></p> 
								<p class="sed2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
									 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.</p> 
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis. Donec et purus nec leo interdum sodales nec sit amet magna.</p>
								<div class="col-md-6 md-in">
						<ul class="grid-part">
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Sed ut perspiciatis unde omnis</a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#"> Lorem ipsum dolor sit amet  </a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#"> Sed ut perspiciatis unde omnis</a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Lorem ipsum dolor sit amet  </a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Sed ut perspiciatis unde omnis</a></li>
						</ul>
						</div>
						<div class="col-md-6 md-in">
						<ul class="grid-part">
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Sed ut perspiciatis unde omnis</a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Lorem ipsum dolor sit amet,  </a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Sed ut perspiciatis unde omnis</a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Lorem ipsum dolor sit amet  </a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#">Sed ut perspiciatis unde omnis</a></li>
						</ul>
						</div>
						<div class="clearfix"> </div>
							</div>
							
					</div>
					</div>
						
					
				
		<div class="single-middle">		
			<h3>3 Comments</h3>
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <img class="media-object" src="images/c1.png" alt="">
					</a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading"><a href="#">Richard Spark</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit .</p>
				  </div>
				</div>
				<div class="media in-media">
				  <div class="media-left">
					<a href="#">
					  <img class="media-object" src="images/c2.png" alt="">
					</a>
				  </div>
				   <div class="media-body">
					<h4 class="media-heading"><a href="#">Joseph Goh</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit .</p>
				  </div>
				</div>
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <img class="media-object" src="images/c3.png" alt="">
					</a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading"><a href="#">Melinda Dee</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit .</p>
				  </div>
				</div>
			
		</div>
		<!---->
		<div class="single-bottom">
		
			<h2>Leave a Comment</h2>
				<form action="#" method="post">
						<div class="col-md-4 comment">
						   <input type="text" name="Name" placeholder="Name" required="">
						</div>
						<div class="col-md-4 comment">
						   <input type="text" name="Email" placeholder="Email">
						</div>
						<div class="col-md-4 comment">
						   <input type="text" name="Subject" placeholder="Subject">
						</div>
						<div class="clearfix"> </div>
						   <textarea name="Message" placeholder="Message"></textarea>		
							<input type="submit" value="Send" >
						
				</form>
			</div>
		</div>
</div>


<!--single page end here-->
<!--banner end here-->
<!--footer start here-->
<div class="footer w3ls">
	<div class="container">
		<div class="footer-main">
			<div class="footer-top">
				<div class="col-md-4 ftr-grid">
					<h3>Learning</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
				</div>
				<div class="col-md-4 ftr-grid">
					<h3>Our Address</h3>
					<div class="ftr-address">
						<div class="local">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						</div>
						<div class="ftr-text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="ftr-address">
						<div class="local">
							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
						</div>
						<div class="ftr-text">
							<p>+1 (512) 154 8176</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 ftr-grid">
					<h3>Stay In Touch</h3>
					<form action="#" method="post">
						<input type="text" placeholder="Enter Email"  name="Enter Email" required="">
						<input type="submit" value="">
					</form>
					<ul class="ftr-social-icons">
						<li><a class="fa" href="#"> </a></li>
						<li><a class="tw" href="#"> </a></li>
						<li><a class="dri" href="#"> </a></li>
						<li><a class="p" href="#"> </a></li>
						
					</ul>
				</div>
			   <div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="col-md-6 ftr-navg">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="shortcodes.html">Short Codes</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-6 copyrights">
					<p>© 2016 Learning. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--footer end here-->			
</body>
</html>