<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatroom</title>
</head>
<body>

    <div id="user-hello"></div>
    {{ room_name|json_script:"room-name" }}
    <script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    
    const chatSocket = new WebSocket(
         'ws://' + 
         window.location.host + 
         '/ws/userchat/' + 
         roomName +
          '/'
    );

     chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#user-hello').innerHTML = (data.tester );
        };


        
    </script>

</body>
</html>