
{% extends 'user/base.html' %}
{% block title %}
User Change Password Page
{% endblock title %}

{% block body %}
{% comment %} this is main need to be used here {% endcomment %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/user">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Change Password</h1>
			</div>
		</div><!--/.row-->
		
		 <div class="row mt-2 my-2">
		 <form action="/changepassword" method="post">
								{% csrf_token %}	
						{% if msg%}
						<div class="alert {{ col }}">{{ msg }}</div>
						{% endif %}	
                    <div class="col-md-12"><label class="labels">Current Password</label><input type="Password" class="form-control" name="oldpwd" placeholder="Your Current Password" value="" required></div>
                    <div class="col-md-12"><label class="labels">New Password</label><input type="Password" class="form-control" id="newpwd" name="newpwd"  onkeyup="check_pass()" placeholder="Your New Password" value="" required></div>
                    <div class="col-md-12"><label class="labels">Confirm Password</label><input type="Password" class="form-control" id="renewpwd" name="renewpwd" onkeyup="check_pass()"   placeholder="Confirm Your Password" value="" required></div>
			  <div class="col-md-12 text-center" style="margin-top:10px;"><input class="btn btn-primary profile-button" type="submit"  id="submitbutton" value="Change Password"/></div>
			   </form>
			    </div>
				 <br>
                   <br>
	</div>	<!--/.main-->
	<script>
	function check_pass()
	{
		let newpass = $("#newpwd").val();
		let renewpass = $("#renewpwd").val();

		if(newpass==renewpass)
		{
			$("#newpwd").css("border","1px solid green");
			$("#renewpwd").css("border","1px solid green");
			$("#submitbutton").removeAttr("disabled");
			
		}
		else
		{
			$("#newpwd").css("border","1px solid red");
			$("#renewpwd").css("border","1px solid red");
			$("#submitbutton").attr("disabled","disabled");
			{% comment %} alert("Please doesn't match"); {% endcomment %}
		}
	}
	</script>
	<br>
{% endblock body %}