{% extends 'user/base.html' %}
{% block title %}
User Home Page
{% endblock title %}
 {% block style%}
<link href="static/user/css/followers.css" rel="stylesheet">
{% endblock style%} 
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/user">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Following</h1>
			</div>
		</div><!--/.row-->
		
        <div class="row">

		<div class="col-md-12">

        <div class="container">
<div class="row bootstrap snippets bootdey">
    <div class="col-md-11 col-xs-12">
      <div class="panel" id="followers">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon md-check" aria-hidden="true"></i> Followers
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group list-group-dividered list-group-full">
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <button type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
                  </div>
                  <div><a class="name" href="javascript:void(0)">Willard Wood</a></div>
                  <small>@heavybutterfly920</small>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-away" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <button type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Following</button>
                  </div>
                  <div><a class="name" href="javascript:void(0)">Ronnie Ellis</a></div>
                  <small>@kingronnie24</small>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-busy" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <button type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
                  </div>
                  <div><a class="name" href="javascript:void(0)">Gwendolyn Wheeler</a></div>
                  <small>@perttygirl66</small>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-off" href="javascript:void(0)">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <i></i>
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    <button type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
                  </div>
                  <div><a class="name" href="javascript:void(0)">Daniel Russell</a></div>
                  <small>@danieltiger08</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</div>
        </div>
        </div>
    
		
	</div>	<!--/.main-->
{% endblock body %}