{% extends 'user/base.html' %}
{% block title %}
User Messages
{% endblock title %}
 {% block style%}
<link href="static/user/css/followers.css" rel="stylesheet">
{% endblock style%} 
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/user">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Messages</h1>
			</div>
		</div><!--/.row-->
		
        <div class="row">

		<div class="col-md-12">

        <div class="container">
<div class="row bootstrap snippets bootdey">
    <div class="col-md-11 col-xs-12">
      <div class="panel" id="followers">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon md-check" aria-hidden="true"></i> Messages
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group list-group-dividered list-group-full">
          {% for followerdata in followersdata %}
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img src="{{ followerdata.profile.image.url }}" alt="">
                    <i></i>
                  </a>
                </div>
                
                <div class="media-body">
                  <div class="pull-right">
				   <a href="#" onclick="callsubmitbutton('fff{{ followerdata.username }}')"><em class="fa fa-comments-o" aria-hidden="true"></em></a>
				  <form action="/chat/getusername" method="post" id="fff{{ followerdata.username }}">
				  {% csrf_token %}
				  <input type="hidden" name="username" value="{{ followerdata.username }}"/>
                  </form>
				  {% comment %} {% if followerdata.isFollowers %}
                  <form action="/followers" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="isFollowing" value="{{ followerdata.isFollowers }}"/>
                  <input type="hidden" name="id" value="{{ followerdata.id }}"/>
                   <button type="submit" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Following</button>
                    </form>
                    {% endif %} {% endcomment %}
                    {% comment %} {% if not followerdata.isFollowers %}
                     <form action="/followers" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="isFollowing" value="{{ followerdata.isFollowers }}"/>
                  <input type="hidden" name="id" value="{{ followerdata.id }}"/>
                    <button type="submit" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
                    </form>
                    {% endif %} {% endcomment %}
                  </div>
                  <div>
                  <a class="name" href="#" onclick="callsubmitbutton('{{ followerdata.username }}')">{{ followerdata.first_name |title  }} {{ followerdata.last_name | title }}</a></div>
                  <small>@{{ followerdata.username }}</small>

                   <form action="/searchuser" method="post" id="{{ followerdata.username }}">
                  {% csrf_token %}
                    <div class="form-group">
                      <input type="hidden" name="username" class="form-control" value="{{ followerdata.username }}">
                    </div>
                  </form>
                </div> 
               
              </div>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
</div>
</div>
        </div>
        </div>
    
		
	</div>	<!--/.main-->

  <script>
  function callsubmitbutton(userid){
    document.getElementById(userid).submit();
  }
  </script>
{% endblock body %}

{% comment %} <div class="row">

		<div class="col-md-12">	<div class="panel panel-default chat">
					<div class="panel-heading">
						Chat
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<ul>
							<li class="left clearfix"><span class="chat-img pull-left">
								<img src="http://placehold.it/60/30a5ff/fff" alt="User Avatar" class="img-circle" />
								</span>
								<div class="chat-body clearfix">
									<div class="header"><strong class="primary-font">John Doe</strong> <small class="text-muted">32 mins ago</small></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc.</p>
								</div>
							</li>
							<li class="right clearfix"><span class="chat-img pull-right">
								<img src="http://placehold.it/60/dde0e6/5f6468" alt="User Avatar" class="img-circle" />
								</span>
								<div class="chat-body clearfix">
									<div class="header"><strong class="pull-left primary-font">Jane Doe</strong> <small class="text-muted">6 mins ago</small></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc.</p>
								</div>
							</li>
							<li class="left clearfix"><span class="chat-img pull-left">
								<img src="http://placehold.it/60/30a5ff/fff" alt="User Avatar" class="img-circle" />
								</span>
								<div class="chat-body clearfix">
									<div class="header"><strong class="primary-font">John Doe</strong> <small class="text-muted">32 mins ago</small></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							<input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here..." /><span class="input-group-btn">
								<button class="btn btn-primary btn-md" id="btn-chat">Send</button>
						</span></div>
					</div>
				</div>
			
			
			{% comment %} <div class="col-md-6">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Timeline
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
									</div>
									<div class="timeline-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge primary"><em class="glyphicon glyphicon-link"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
									</div>
									<div class="timeline-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-camera"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
									</div>
									<div class="timeline-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge"><em class="glyphicon glyphicon-paperclip"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
									</div>
									<div class="timeline-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div><!--/.col--> {% endcomment %}
			{% comment %} <div class="col-sm-12">
				<p class="back-link">© 2020 MENTOR. All Rights Reserved </p>
			</div> {% endcomment %}
		
		<!--</div>
		
		
		</div>/.row--> 