
{% extends 'user/base.html' %}
{% block title %}
Search User Page
{% endblock title %} 
 {% block style%}
<link href="static/user/css/profile.css" rel="stylesheet">
{% endblock style%} 
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/user">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Search</h1>
			</div>
		</div><!--/.row-->
                        {% if msg%}
						<div class="alert alert-danger" role="alert">{{ msg }}</div>
						{% endif %}	

                         {% if Username%}
						{% comment %} <div class="alert alert-danger" role="alert">{{ Username }}</div> {% endcomment %}
					

        <div class="row d-flex justify-content-center">
        <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row d-flex justify-content-center" style="margin-top:-90px;position:absolute;right:0px;width:800px;padding:18px;">
            <div class="col-lg-6 col-xlg-4">
                <div class="card"  id="userprofilebody">
                    <div class="card-body little-profile text-center">
                        <div class="pro-img"><img src="{{ image }}" alt="user"></div>
                        <h3 class="m-b-0">{{ firstname |capfirst }} {{ lastname |capfirst  }}</h3>
                        <h4 class="text-muted">{{ bio }}</h6>
                         {% comment %} <h5 class="text-muted">I love to work with this environment</h5> {% endcomment %}
                        {% comment %} <ul class="list-inline soc-pro m-t-30">
                            <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-twitter text-twitter"></i></a></li>
                            <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-facebook-square text-facebook"></i></a></li>
                            <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-linkedin text-linkedin"></i></a></li>
                            <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-youtube text-youtube"></i></a></li>
                            <li><a href="javascript:void(0)" data-abc="true"><i class="fab fa-instagram text-instagram"></i></a></li>
                        </ul> {% endcomment %}
                    </div>
                    <div class="text-center bg-light">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 p-20 b-r">
                                <h4 class="m-b-0 font-medium">{{ followers }}</h4><small>Followers</small>
                            </div>
                            <div class="col-lg-6 col-md-6 p-20">
                                <h4 class="m-b-0 font-medium">{{ following }}</h4><small>Following</small>
                            </div>
                        </div>
                    </div>
                    {% if isfollowing %}
                      <form action="/searchuser" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="isFollowing" value="{{ isfollowing }}"/>
                  <input type="hidden" name="username" value="{{ Username }}"/>
                   <input type="hidden" name="addfollowers" value="False"/>
                <div class="card-body text-center"> 
                <input type="submit" class="m-t-10 m-b-20 waves-effect waves-dark btn btn-success btn-md btn-rounded" data-abc="true" value="Following"/>
                 </form>
                </div>

                   {% else %}
                     <form action="/searchuser" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="isFollowing" value="{{ isfollowing }}"/>
                  <input type="hidden" name="username" value="{{ Username }}"/>
                   <input type="hidden" name="addfollowers" value="True"/>
                         <div class="card-body text-center"> 
                 <input type="submit" class="m-t-10 m-b-20 waves-effect waves-dark btn btn-success btn-md btn-rounded" data-abc="true" value="Follow"/>         
                </div>
                </form>
                 {% endif %}
                   </div>
            </div>
            
        </div>
    </div>
</div>

    </div>

    	{% endif %}	

</div>
    {% endblock body %}