
{% extends 'user/base.html' %}
{% block title %}
User Home Page
{% endblock title %}

{% block body %}
{% comment %} this is main need to be used here {% endcomment %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/user">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">User Profile</h1>
			</div>
		</div><!--/.row-->
		

		<div class="row ">

        {% if msg%}
					<div class="alert {{ col }}">{{ msg }}</div>
						{% endif %}	
		<div class="container  rounded bg-white mt-5 mb-5">
    <div class="row">
      <form action="/userprofile" method="post" enctype="multipart/form-data"  onsubmit="return checkData()">
					{% csrf_token %}
        <div class="col-md-2 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="img-thumbnail" src="{{ request.user.profile.image.url }}"
             width="150px" height="160px">
			{% comment %} <span class="font-weight-bold">Amelly</span><span class="text-black-50">amelly12@bbb.com</span><span> </span> {% endcomment %}
			</div>
			<br>
        <div class="mt-5 text-center"><input type="file" accept="image/x-png,image/gif,image/jpeg" name="userimage" class="btn btn-primary profile-button" value="Change Image" style="width:150px;"/></div>
		</div>
        <div class="col-md-9">
      
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4"><label class="labels">First Name</label><input type="text" class="form-control" name="fname" placeholder="first name" value="{{ request.user.first_name }}" required></div>
                    <div class="col-md-4"><label class="labels">Last Name</label><input type="text" class="form-control" name="lname" value="{{ request.user.last_name }}" placeholder="surname" required></div>
                <div class="col-md-4"><label class="labels">Email ID</label><input type="text" class="form-control" name="email" readonly placeholder="enter email id" value="{{ request.user.email }}" required></div>
               
                </div>
                <div class="row mt-3">
                    {% comment %} <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div> {% endcomment %}
                   {% comment %} <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address" value=""></div> {% endcomment %}
                        <div class="col-md-12">
                <label for="comment">Describe Yourself:</label>
            <textarea class="form-control" name="bio" rows="5" id="comment" placeholder="Your bio" required>{{ request.user.profile.aboutyourself }}</textarea>
                </div>
                   {% comment %} <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div> {% endcomment %}
                </div>

                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">College Name</label><input type="text" class="form-control" name="collegename" required placeholder="College Name" value="{{ request.user.profile.college }}"></div>
                   
                </div>

                <input type="hidden" class="form-control" name="status"  value="{{ request.user.profile.status }}">
            
                <div class="row mt-3">
                    {% comment %} <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                {% endcomment %}

                <div class="col-md-4">
  <label for="semester">Select Semester:</label>
  <select class="form-control" id="semester" required name="semester">
  <option value="0">Select</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
  </select>
</div>


 <div class="col-md-4">
  <label for="course">Select Course:</label>
  <select class="form-control" id="course" required name="course">
  <option value="0">Select</option>
    <option value="B.com">B.com</option>
    <option value="BCA">BCA</option>
    <option value="BBA">BBA</option>
    <option value="B.Tech">B.Tech</option>
    <option value="M.com">M.com</option>
    <option value="MCA">MCA</option>
    <option value="MBA">MBA</option>
    <option value="M.Tech">M.Tech</option>
  </select>
</div>

 <div class="col-md-4">
  <label for="gender">Select Gender:</label>
  <select class="form-control" id="gender" required name="gender">
  <option value="0">Select</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    {% comment %} <option value="BBA">BBA</option> {% endcomment %}
  </select>
</div>
               
                </div>
				<br>
                <div class="mt-5 text-center"><input class="btn btn-primary profile-button" type="submit" value="Save Profile"/></div>
            <br><br>
            
			</div>
        </div>
        {% comment %} <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> {% endcomment %}
    </div>
</div>
</div>
</div>
</form>
		</div><!--/.row-->
	</div>	<!--/.main-->
	<br>

    <script>
function myFunction() {
  document.getElementById("semester").value = "{{ request.user.profile.sem }}";
  document.getElementById("course").value = "{{ request.user.profile.course }}";
  document.getElementById("gender").value = "{{ request.user.profile.gender }}";


}
function checkData(){
 var sem = document.getElementById("semester").selectedIndex;
 var semop = document.getElementById("semester").options;
  var course = document.getElementById("course").selectedIndex;
  var coursop = document.getElementById("course").options;
  var gender =document.getElementById("gender").selectedIndex;
  var genderop =document.getElementById("gender").options;
  if (semop[sem].index==0)
  {
      alert("You need to select your Semester");
      return false;
  }
  if (coursop[course].index==0)
  {
      alert("You need to select your Course");
      return false;
  }
  if (genderop[gender].index==0)
  {
      alert("You need to select your Gender");
      return false;
  }
  return true;
}
myFunction()
</script>
{% endblock body %}